<div id="saved_data">
  <table id="table">
    <tr>
      <th>First Name</th>
      <td>{{firstName}}</td>
    </tr>
    <tr>
      <th>Last Name</th>
      <td>{{lastName}}</td>
    </tr>
    <tr>
      <th>Email Name</th>
      <td>{{email}}</td>
    </tr>
    <tr>
      <th>Mobile No</th>
      <td>{{mobile}}</td>
    </tr>
    <tr>
      <th>Gender</th>
      <td>{{gender}}</td>
    </tr>
    <tr>
      <th>Employee Id</th>
      <td>{{empId}}</td>
    </tr>
    <tr>
      <th>Password</th>
      <td>{{password}}</td>
    </tr>
  </table>
</div>
<div id="button">
  <button type="submit" (click)="edit()">Edit</button>
</div>