<div class="content_area">
  <div class="heading">
    <h1>Sign Up</h1>
  </div>
  <div class="form">
    <form [formGroup]="signup_form" (ngSubmit)="save()" id="contact">
      <div class="left_form">
        <input class="textbox" type="text" formControlName="firstName" placeholder="First Name*" /><br/>
        <span *ngIf="signup_form.controls.firstName.invalid  && signup_form.controls.firstName.touched">Invalid First Name</span>
        <br/>
        <input class="textbox" type="text" name="email" formControlName="email" placeholder="Email*" /><br/>
        <span *ngIf="signup_form.controls.email.invalid  && signup_form.controls.email.touched">Invalid Email</span>
        <br/>
        <input class="textbox" [type]="type" name="password" formControlName="password" placeholder="Password*" />
        <i (mouseup)="hide()" (mousedown)="show()" class="far fa-eye"></i><br/>
        <span *ngIf="signup_form.controls.password.invalid  && signup_form.controls.password.touched">Invalid Password</span>
        <br/>
        <input class="textbox" type="text" name="gender" formControlName="gender" placeholder="Gender*" /><br/>
        <span *ngIf="signup_form.controls.gender.invalid  && signup_form.controls.gender.touched">Invalid Gender</span>
        <br/>
      </div>
      <div class="right_form">
        <input class="textbox" type="text" name="lastName" formControlName="lastName" placeholder="Last Name*" /><br/>
        <span *ngIf="signup_form.controls.lastName.invalid  && signup_form.controls.lastName.touched">Invalid Last Name</span>
        <br/>
        <input class="textbox" type="text" name="mobile" formControlName="mobile" placeholder="Mobile No.*" /><br/>
        <span *ngIf="signup_form.controls.mobile.invalid && signup_form.controls.mobile.touched">Invalid Mobile No</span>
        <br/>
        <input class="textbox" [type]="type" (keyup)="comparePassword($event)" name="cpassword" formControlName="cpassword" placeholder="Confirm Password*"
        />
        <i (mouseup)="hide()" (mousedown)="show()" class="far fa-eye"></i><br/>
        <span *ngIf="!isEqual  && signup_form.controls.cpassword.touched">Passwords doesn't match</span>
        <br/>
        <input class="textbox" type="text" name="empId" formControlName="empId" placeholder="Employee ID*" /><br/>
        <span *ngIf="signup_form.controls.empId.invalid  && signup_form.controls.empId.touched">Invalid Employee Id</span>
        <br/>
      </div>
      <div>
        <input type="submit" name="submit" [disabled]="signup_form.invalid" value="Sign Up" id="submit">
      </div>
    </form>
  </div>
</div>