body {
    font-family: calibri;
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #585b5c;
}

.heading {
    display: inline-block;
    letter-spacing: 1px;
    left: 25%;
    width: 50%;
    position: absolute;
    text-align: center;
}

.heading h1 {
    font-family: 'Playfair Display', serif;
    font-size: 46px;
    padding: 15px 5px;
    display: inline-block;
}

.form {
    top: 20%;
    position: absolute;
    padding: 30px 50px;
    height: 90%;
    width: 92%;
}

.form .left_form {
    left: 24%;
    position: absolute;
}

.form .right_form {
    right: 24%;
    position: absolute;
}

.form .textbox {
    padding: 10px;
    margin: 10px 1px;
    width: 337px;
    background-color: #e9e9e9;
    border-width: 0px;
}

.form #submit {
    width: 100px;
    top: 45%;
    left: 24%;
    position: absolute;
    background-color: #239dad;
    border-width: 0px;
    padding: 8px;
    color: #ffffff;
}
span{
    color: red;
    width: 200px;
}